<!DOCTYPE html>
<html lang="hu" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

Login

<form  name="login" th:action="@{/login}" method="post">
    <label id="err" th:if="${param.error}">Hibás felhasználói név és jelszó</label>
    <label th:if="${param.logout}" class="alert alert-success">Sikeresen kijelentkeztél</label>
    <h1>Login</h1>

    <input type="text" id="username" name="username" placeholder="Email"/>

    <input type="password" id="password" name="password" placeholder="Password" />

    <input type="submit" name="submit" value="Login" />

</form>

</body>
</html>