<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>
<body>
<div th:replace="fragments/header :: header"></div>


<div class="container">
    <div class="starter-template">

    </div>


    <form class="box" name="registration" method=post th:action="@{/registration}" th:object="${user}">
        <h1>Registration</h1>

        <div class="form-group">

        <input type="text" class="form-control" name="email" th:field="*{email}" placeholder="Email cím" required/>

        <input type="text" class="form-control" name="firstName" th:field="*{firstName}" placeholder="Keresztnév" required/>

        <input type="text" class="form-control" name="lastName" th:field="*{lastName}" placeholder="Vezetéknév" required/>

        <input type="password" class="form-control" name="password" th:field="*{password}" placeholder="Jelszó" />

        <input type="password" class="form-control" name="password2" placeholder="Jelszó mégegyszer" />

            <input type="text" class="form-control" name="birthPlace" th:field="*{birthPlace}" placeholder="Születési hely" required/>

            <input type="date" class="form-control" id="birthDate"
                   placeholder="Születési dátum"
                   th:field="*{birthDate}"/>

            <input type="text" class="form-control" name="nationality" th:field="*{nationality}" placeholder="Nemzetiség" required/>

            <input type="text" class="form-control" name="phoneNumber" th:field="*{phoneNumber}" placeholder="Telefonszám" required/>
        <input type="submit" name="submit" value="Regisztrálok" />
        </div>
    </form>
</div>

<div th:replace="fragments/footer :: footer"></div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>