<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>
<body>
<div th:replace="fragments/header :: header"></div>

<div id="HTMLtoPDF">
<div class="container">
    <div class="starter-template">
        <h1>Your cv</h1>
    </div>

    <table>
        <tbody>
        <trd>
            <form method=post th:action="@{/profile/cv/pictureUpload}" enctype="multipart/form-data">
                <input type="submit" name="submit" value="Picture upload" />
            </form>

        </trd>

        <tr>
            <td>Email</td>
            <td th:text="${user.email}"></td>
        </tr>
        <tr>
            <td>First name</td>
            <td th:text="${user.firstName}"></td>
        </tr>
        <tr>
            <td>Last name</td>
            <td th:text="${user.lastName}"></td>
        </tr>
        <tr>
            <td>Birth place</td>
            <td th:text="${user.birthPlace}"></td>
        </tr>
        <tr>
            <td>Birth date</td>
            <td th:text="${user.birthDate}"></td>
        </tr>
        <tr>
            <td>Nationality</td>
            <td th:text="${user.nationality}"></td>
        </tr>
        <tr>
            <td>Phone number</td>
            <td th:text="${user.phoneNumber}"></td>
        </tr>

        <tr>
           <td>Your Studies</td>
        </tr>
        <tr>
            <td>Name</td><td>Start date</td><td>End date</td><td>Result</td>
        </tr>
        <tr th:if="${user.studies.empty}">
            <td>No studies</td>
        </tr>
        <tr th:each="study : ${user.studies}">
            <td th:text="${study.name}"></td>
            <td th:text="${study.startDate}"></td>
            <td th:text="${study.endDate}"></td>
            <td th:text="${study.result}"></td>
        </tr>
        <tr>
            <td>Language exams</td>
        </tr>
        <tr>
            <td>Type</td><td>Language</td><td>Level</td><td>Date</td>
        </tr>
        <tr>
        <tr th:if="${user.languageExams.empty}">
            <td>No exams</td>
        </tr>
        <tr th:each="languageExam : ${user.languageExams}">
            <td th:text="${languageExam.type}"></td>
            <td th:text="${languageExam.language}"></td>
            <td th:text="${languageExam.level}"></td>
            <td th:text="${languageExam.date}"></td>
            </tr>
        <tr>
            <td>Your jobs</td>
        </tr>
        <tr>
            <td>Name</td><td>Start date</td><td>End date</td><td>Position</td><td>Scope of duties</td>
        </tr>
        <tr th:if="${user.jobs.empty}">
            <td>No jobs</td>
        </tr>
        <tr th:each="job : ${user.jobs}">
            <td th:text="${job.name}"></td>
            <td th:text="${job.startDate}"></td>
            <td th:text="${job.endDate}"></td>
            <td th:text="${job.position}"></td>
            <td th:text="${job.scopeOfDuties}"></td>
          </tr>

        </tbody>
    </table>

</div>





    <input type="button" class="btn btn-primary" onclick="window.location.href = '/pdf';" value="Import to pdf"/>


</div>

<div th:replace="fragments/footer :: footer"></div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
